<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div id="header">   
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url "dashboard" %}">My dashboard</a>
                </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                    <a href="{% url "images:list" %}">Immagini</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}> 
                    <a href="{% url "user_list" %}">Utenti</a>
                </li>  
                <li {% if section == "images" %}class="selected"{% endif %}> 
                    <a href="{% url "images:ranking" %}">Immagini più viste</a>
                </li> 
                <li {% if section == "people" %}class="selected"{% endif %}> 
                    <a href="{% url "images:your_images" %}">Le tue immagini</a>
                </li>
            </ul>
        {% endif %}

        <span class="user">
            {% if request.user.is_authenticated %}
             Benvenuto {{ request.user.first_name }}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Opzioni
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url "edit" %}">Modifica Profilo</a></li>
                      <li><a class="dropdown-item" href="{% url "password_change" %}">Modifica Password</a></li>
                      <li><a class="dropdown-item" href="{% url "private_profile" %}">Gestisci visibilità</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">
                        <form method="post" action="{% url "logout" %}">
                            {% csrf_token %}
                            <button type="submit"> Logout</button>
                        </form>
                      </a></li>
                    </ul>
            {% else %}
                <a href="{% url "login" %}">Login</a>
            {% endif %}
        </span>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">✖</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script>
        const csrftoken = Cookies.get('csrftoken');
        document.addEventListener('DOMContentLoaded', (event) => {
            // DOM loaded
            //{% block domready %}
            //{% endblock %}
        })
    </script>
   
</body>
</html>