{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
    <p>
        Username e password non coincidono.
        Provare di nuovo.
    </p>
    {% else %}
        <p>Usare questo form per il log-in. Se invece non sei ancora registrato, puoi <a href="{% url "register" %}"> registrarti qui.</a></p>
    {% endif %}

<div class="login-form">
    <form action="{% url 'login' %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <p><input type="submit" value="Log-in"></p>
    </form>
    <p>Oppure:</p>
    <button type="button" class="btn btn-primary"><a href="{% url "social:begin" "google-oauth2" %}">Login con Google</a></button>
</div>


{% endblock %}