<!-- Lista immagini personali del singolo utente -->
{% extends "base.html" %}
{% load thumbnail %}


{% block title %}Le Tue Immagini{% endblock %}

{% block content %}
<h1>Le Tue Immagini</h1>
<div id="image-list">
    {% if images %}
        {% for image in images %}
            <div class="image">
                <a href="{{ image.get_absolute_url }}">
                    {% thumbnail image.image 300x300 crop="smart" as im %}
                    <img src="{{ im.url }}" alt="{{ image.title }}">
                </a>
                <div class="info">
                    <a href="{{ image.get_absolute_url }}" class="title">
                        {{ image.title }}
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Non hai caricato nessuna immagine.</p>
    {% endif %}
</div>
{% endblock %}

