{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Dashboard</h1>
  {% with total_images_created=request.user.images_created.count %}
    <p>Benvenuto nella tua dashboard. Hai aggiunto {{ total_images_created }} immagini.</p>
  {% endwith %}
  <p>Usa il seguente pulsante per salvare immagini da altri siti web → <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Aggiungi immagine</a></p>
  <p>Usa il seguente pulsante per aggiungere una tua immagine → <a href="{% url "images:create_local" %}" class="button">Aggiungi immagine</a></p>


  <h2>Azioni Recenti:</h2>
    <div id="action-list">
      {% for action in actions %}
        {% include "actions/action/detail.html" %}
      {% endfor %}
    </div>
{% endblock %}